@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --gray: #f2f2f2;
    --green-theme: #00cf8d;
}

* {
    font-family: "Quicksand", serif;
    margin: 0;
    color: #333;
}